@using Syncfusion.Blazor
@using Syncfusion.Blazor.Notifications
@inject IToastService toast

@page "/RProducto"
@page "/RProducto/{ProductoId:int}"

<EditForm Model="producto" OnValidSubmit="Guardar">

    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="card">
        <div class="card-header">
            <h3>Registro</h3>
        </div>

        <div class="card-body">
            <form>

                @*Producto id*@

                <div class="form-row align-items-center">

                    <div class="col">
                        <div class="form-group">
                            <label>ProductoID</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="producto.ProductoId" class="form-control col-4" />
                                <div>
                                    <button type="button" class="btn btn-primary input-group-text"
                                        @onclick="Buscar">Buscar</button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>


                @* Descricion *@
                <div class="form-group">
                    <label>Descricion</label>
                    <InputText class="form-control" @bind-Value="producto.Descripcion" />
                    <ValidationMessage For="@(() =>producto.Descripcion)" />
                </div>

                @* Peso en gramos *@
                <div class="form-group">
                    <label>Peso en gramos</label>
                    <InputNumber class="form-control" @bind-Value="producto.Peso" />
                    <ValidationMessage For="@(() =>producto.Peso)" />
                </div>
                @* Exitencia *@
                <div class="form-group">
                    <label>Exitencia</label>
                    <InputNumber class="form-control" @bind-Value="producto.Existencia" />
                    <ValidationMessage For="@(() =>producto.Existencia)" />
                </div>
                @* Costo *@
                <div class="form-group">
                    <label>Costo</label>
                    <InputNumber class="form-control" @bind-Value="producto.Costo" />
                    <ValidationMessage For="@(() =>producto.Costo)" />
                </div>
                @* Precio *@
                <div class="form-group">
                    <label>Precio</label>
                    <InputNumber class="form-control" @bind-Value="producto.Precio" />
                    <ValidationMessage For="@(() =>producto.Precio)" />
                </div>


                @* Fecha *@
                <div class="form-group">
                    <label>Fecha expiraci&oacute;n</label>
                    <InputDate class="form-control" @bind-Value="producto.FechaExpiracion" />
                    <ValidationMessage For="@(() =>producto.FechaExpiracion)" />
                </div>

                @* Ganancia *@
                <div class="form-group">
                    <label>Ganancia</label>
                    <InputNumber class="form-control" @bind-Value="producto.Ganancia" readOnly />
                    <ValidationMessage For="@(() =>producto.Ganancia)" />
                </div>
                @* Valor Inventario *@
                <div class="form-group">
                    <label>Valor Inventario</label>
                    <InputNumber class="form-control" @bind-Value="producto.ValorInventario" readOnly />
                    <ValidationMessage For="@(() =>producto.ValorInventario)" />
                </div>

                <div>

                    <div class="card-header">
                        <h3>Registro de detalles</h3>
                    </div>

                    <div class="card-body">

                        <div class="form-row align-items-center">
                            <div class="col">
                                <div class="form-group" style="margin: 5px;">

                                    <div class="input-group">
                                        <div class="container">
                                            <label>Descripción</label>
                                            <InputText style="margin: 5px;" class="form-control"
                                                @bind-Value="Presentacion" placeholder="Descripción del detalle" />
                                        </div>

                                        <div class="w3-container col">
                                            <label>Cantidad</label>
                                            <InputNumber style="margin: 5px;" class="form-control"
                                                @bind-Value="Cantidad" />
                                        </div>
                                        <div class="w3-container col">
                                            <label>Precio</label>
                                            <InputNumber style="margin: 5px;" class="form-control"
                                                @bind-Value="Precio" />
                                        </div>

                                        <div class="w3-container col">
                                            <br>
                                            <button type="button" style="margin: 5px;" class="btn btn-lg btn-primary"
                                                @onclick="AgregarDetalle">Agregar Detalle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered">
                            <thead class="thead">
                                <tr class="table">
                                    <td>Descripción</td>
                                    <td>Cantidad</td>
                                    <td>Precio</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in producto.ProductoDetalle)
                                {
                                    <tr>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Cantidad</td>
                                        <td>RD$@item.Precio</td>
                                        <td><span class="btn btn-sm btn-outline-primary oi oi-ban" href="#"
                                            @onclick="@(() => RemoverFila(item))"> Remover</span> </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>

            </form>
            <div class="card-footer">

                <div class="form-group text-center" display: inline-block>

                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>

                    <button type="submit" class="btn btn-lg btn-success">Guardar</button>

                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">Eliminar</button>

                </div>

            </div>
        </div>
    </div>

</EditForm>


@code {

    [Parameter]
    public int ProductoId { get; set; }

    public Producto producto { get; set; } = new Producto();

    [Inject]
    public ProductoBLL productoBLL { get; set; }
    public string Presentacion { get; set; }
    public float Cantidad { get; set; }
    public double Precio { get; set; }
    protected override void OnInitialized()
    {
        producto.ProductoId = ProductoId;
        Buscar();
    }

    public void Buscar()
    {
        if (this.producto.ProductoId > 0)
        {
            Producto encontrado = productoBLL.Buscar(this.producto.ProductoId);
            if (encontrado != null)
            {
                this.producto = encontrado;
            }
            else
            {
                toast.ShowSuccess("No se ha encontrado el producto");
            }
        }
    }
    public void CostoChanged()
    {
        PrecioOrCostoChanged();
        ExistenciaOrCostoChanged();
    }
    public void GananciaChanged()
    {
        producto.Ganancia = (int)(((producto.Precio - producto.Costo) / producto.Costo) * 100);
    }
    public void ExistenciaOrCostoChanged()
    {
        producto.ValorInventario = producto.Costo * producto.Existencia;
    }

    public void PrecioOrCostoChanged()
    {
        producto.Ganancia = (int)((producto.Precio - producto.Costo) / producto.Costo) * 100;
    }
    private void AgregarDetalle()
    {
        this.producto.ProductoDetalle.Add(new ProductoDetalle(Presentacion, Cantidad, Precio));
    }
    private void RemoverFila(ProductoDetalle item)
    {
        this.producto.ProductoDetalle.Remove(item);
    }


    public void Nuevo()
    {
        producto = new Producto();
    }
    public void Guardar()
    {
        producto.Ganancia = (int)(((producto.Precio - producto.Costo) * 100) / producto.Costo);

        if (productoBLL.Guardar(producto))
        {
            toast.ShowSuccess("Se ha guardado el producto con exito");
        }
        else
        {
            toast.ShowError("No se ha podido guardar el producto");
        }

    }
    private void Eliminar()
    {
        bool eliminado;
        eliminado = productoBLL.Eliminar(producto.ProductoId);
        if (eliminado)
        {

            Nuevo();
            toast.ShowSuccess("Se ha eliminado el producto con exito");
        }
        else
        {
            toast.ShowError("No se ha podido eliminar el producto");
        }
    }
}